.container-detail-filled {
    position: relative;
    width: 180px;
    height: 1px;
    padding: 1px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px -22px 270px;
  
}

.container-detail-filled .body {
    position: absolute;
    border-radius: 5px;
    width: 300px;
    height: 18px;
    background-color: white;
    margin: -50px 20px -3px 0px;
}
.container-detail-filled .fill {
    border-radius: 5px;
    position: absolute;
    height: 14px;
    background-color: #00FF00;
    box-sizing: border-box;
    margin: -48px 25px -8px 2px;
}

.Menu {
    text-align: left;
    font-size: x-large;
    font-weight: 500;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    margin-bottom: -1;
}

.number {
    color: #FFFFFF ;
    font-size: 0.80em;
    font-weight: 400;
    font-family: sans-serif;
    text-shadow: 3px #000000;
    margin: 0px 0px 0px 2px;
}