.Pcard {
    border-radius: 5%;
    width: 200px;
    display: block;
    height: 230px;
    margin-bottom: 1.5em;
}

.Nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-justify: auto;
}