.type {
    border-radius: 25px;
    margin: -60px 0px 0px 165px;
    padding: 1px 3px 1px 5px;
    width: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    border: 2px solid #ffffff;
}