div.list-screen {
    height: calc(100vh - 48px);
    overflow-y: scroll;
    padding: 2em 0em 1em 0em;
    overflow-x: hidden;
    width: 100vw;
}


div.list-screen > div.list-screen__container-cards {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap; 
     
}

div.list-screen > div.list-screen__footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 5em;
    width: 95vw;
}


div.list-screen > div.list-screen__next-button {
    color: #ffffff;

}

div.list-screen > div.list-screen__back-button {
    color: #ffffff;

}