.Card {
    table-layout: inherit ;
    width: 200px;
    padding: 110px 0px;
    border-radius: 20px;
    border: 3px solid #000;
    margin: 3px 25px 25px 25px;
    display: inline-block;
    list-style-type: "→";
}