div.ListScreen {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap; 
    height: calc(100vh - 48px); 
    overflow-y: scroll;
    padding: 2em 0em 1em 0em;
}
