body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #2e2e2c;
    margin-top: 60px;
    }

.header {
    display: flex;
    position: absolute;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    font-weight: 300;
    font-size: 100%;
    font-style: inherit;
    background-color:#ED1C24;
    width: 103%;    
    display: flex;
    margin: -60px -5px -5px -10px;
    padding: 2px;
}

.img {
     margin: 0px 0px 0px 25px;
 }

.button {
    display: inline-block;
    margin: auto;
    position: relative;
    padding-left: 70%;
 }

.onoff {
    display: inline-block;
    position: relative;
    padding-left: 95%;
    padding-bottom: 0%;
    padding-top: -10%;
 }
 
.items {
    margin: 0px 0px 0px 25px;
 }