.Balloncard {
    background-color: white;
    border-radius: 80%;
    height: 160px;
    width: 160px;
    margin: -20px 10px 0px 20px;
}

.Ballonmine {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: -40px 0px 0px 120px;
    padding: 0px 0px 0px 0px;
}

